.form_title{
    color: rgba(240, 228, 228, 0.963);
    background-color: rgb(5, 5, 74);
}

.client_inputs{
    position: relative;
}

.client_data_header{
    color: rgb(5, 5, 74);
    font-size: 25px;
    font-style:initial;
}

.back_btn{
    position: absolute;
    left: 50px;
    width: 120px;
    padding: 10px 15px;
    background-color: rgb(5, 5, 74);
    color:  rgba(240, 228, 228, 0.963);
    font-weight: bold;
}

.buy_btn{
    position: absolute;
    right: 50px;
    width: 120px;
    padding: 10px 15px;
    background-color: rgb(5, 5, 74);
    color:  rgba(240, 228, 228, 0.963);
    font-weight: bold;
}

.choosenCarPhoto{
    width: 400px;
    margin: 40px 30px 30px 70px;
}

.description{
    width: 900px;
    margin: 80px 30px 30px 70px;
}

.mainTitle{
    text-align: center;
}

.car_info{
    font-size: 30px;
    color: rgb(25, 174, 9);
}